<p class="font-bold my-3">PAGINA CHILD</p>
<div>Usuario: {{vernombre}} </div>
<button (click)="nombreHijo()" class="bg-red-600 text-white p-2 px-4 focus:outline-none hover:bg-blue-400  rounded-lg mt-4">Ver Usuario 2</button>