<div class="w-full">
    <p class="font-bold">PAGINA HOME</p>
    <div class="pt-3">Usuario: {{nombre}} </div>
    <button (click)="vernombre()" class="bg-red-600 text-white p-2 px-4 focus:outline-none hover:bg-blue-400  rounded-lg mt-4">
            Ver Usuario
    </button>
</div>
<hr>
<app-hijo (cambiarnombreHijo)="cambionombreHijo($event)" [vernombre]="nombre"></app-hijo>